.topic-view {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  > div {
    max-width: 800px;
    min-width: 800px;
    h3 {
      text-align: center;
    }
  }
  .topic-text {
    white-space: pre-wrap;

    > pre {
      display: inline-block;
      border: 1px dashed #b5e853;
      padding: 10px;
      line-height: 1;
      > code {
        font-size: 80%;
        span.title-highlight:hover {
          font-weight: bold;
          cursor: help;
        }
      }
    }
  }
}

code > * {
}
