

.pin-attribute {
    text-decoration: none;
    border: 1px solid white;;
    padding: 2px 5px 2px 5px;
    margin: 1px 5px 1px 5px;
    min-width: 55px;
    border-radius: 5px;
    text-align: center;
    color: white;
    white-space: nowrap;
    &:visited {
        color: white;
    }
    &.highlight-primary-pin {
        margin: 0 4px 0 4px;
        border: 2px solid cyan;
        cursor: pointer;
        &.alt-pin {
            border: 2px dashed cyan;
        }
    }
    &.highlight-secondary-pin {
        margin: 1px 5px 1px 5px;
        border: 1px dashed cyan;
        cursor: pointer;
    }
    &.active-pin:not(.inactive-group) {
        font-weight: bold;
        margin: 0 4px 0 4px;
        border: 2px solid white;
    }
    &.inactive-group {
        opacity: 0.3;
    }
}

.gnd-pin {
    background-color: black;
    color: white;
}

.vcc-pin {
    background-color: #951318;
}
.port-pin {
    $fg: black;
    $bg: #b5e853;
    color: $fg;
    background-color: $bg;
    &:visited {
        color: $fg;
        background-color: $bg;
    }
}
.adc-pin {
    background-color: #495EA9;
}

.twi-pin {
    color: white;
    background-color: #b9418f;
    &.alt-pin {
        font-weight: lighter;
        background: repeating-linear-gradient(
                        45deg,
                        #b9418f,
                        #b9418f 10px,
                        darken(#b9418f, 10%) 10px,
                        darken(#b9418f, 10%) 20px
        );
    }
}

.tca-pin {
    color: white;
    $tca-bg: #204f26;
    background-color: $tca-bg;
    &:visited {
        background-color: $tca-bg
    }
    &.alt-pin {
        font-weight: lighter;
        color: white;
        background: repeating-linear-gradient(
                        45deg,
                        $tca-bg,
                        $tca-bg 10px,
                        darken($tca-bg, 10%) 10px,
                        darken($tca-bg, 10%) 20px
        );
    }
}


.tcb-pin {
    color: white;
    $tcb-bg: #2d7335;
    background-color: $tcb-bg;
    &:visited {
        background-color: $tcb-bg
    }
}


.tcd-pin {
    color: white;
    $tcd-bg: #3e9d49;
    background-color: $tcd-bg;
    &:visited {
        background-color: $tcd-bg
    }
}

.spi-pin {
    color: white;
    background-color: #E23333;
    &.alt-pin {
        font-weight: lighter;
        color: white;
        background: repeating-linear-gradient(
                        45deg,
                        #E23333,
                        #E23333 10px,
                        darken(#E23333, 10%) 10px,
                        darken(#E23333, 10%) 20px
        );
    }
}

.clk-pin {
    color: white;
    background-color: #2d3063;
}

.evout-pin {
    color: white;
    background-color: #54576c;
}

.updi-pin, .reset-pin {
    color: white;
    background-color: #790004;
}

.usart-pin {
    color: white;
    background-color: #A43741;
    &.alt-pin {
        font-weight: lighter;
        color: white;
        background: repeating-linear-gradient(
                        45deg,
                        #A43741,
                        #A43741 10px,
                        darken(#A43741, 10%) 10px,
                        darken(#A43741, 10%) 20px
        );
    }
}

.ccl-pin {
    background-color: #4a6c5c;
}

.ac-pin {
    background-color: #007bb2;
}

.dac-pin {
    color: white;
    background-color: #47606c;
}