@import "../common";

.offset-fields {
  table-layout: fixed;
  width: 800px;
  border: 1px solid $green-font-color;
  margin-bottom: 20px;
  .block-row {
    display: flex;
    div {
      text-align: center;
      &.bit-number:not(:last-child) {
        border-right: 1px solid darken($green-font-color, 30%);
      }
      &.bit-number {
        background-color: darken($green-font-color, 55%);
        border-bottom: 1px solid darken($green-font-color, 30%);;
      }
      &.field-name:not(.active):hover {
        cursor: pointer;
        background-color: darken($green-font-color, 48%)
      }
      &.active {
        background-color: gold;
        color: black;
      }
      &.disabled {
        background: repeating-linear-gradient(
                        45deg,
                        darken($green-font-color, 30%),
                        darken($green-font-color, 30%) 10px,
                        darken($green-font-color, 55%) 10px,
                        darken($green-font-color, 55%) 20px
        );
      }
    }
  }
}
.field-description {
  font-size: 12px;

  table {
    border-collapse: collapse;
    th {
      text-align: center;
    }
    tr:hover {
      background-color: #1b361b;
    }
    td {
      border: 1px #5ec95e solid;
      padding-left: 3px;
      padding-right: 3px;
      &:not(:last-child) {
        text-align: center;
      }
    }
  }
}

@for $i from 1 through 16 {
  .field-size-#{$i} {
    flex-grow: $i;
    flex-basis: 0;
    padding-right: $i - 1px;
    &:not(:last-child) {
      border-right: 1px solid darken($green-font-color, 30%);
    }
  }
}