@import "common";

.App {
  text-align: center;
	height: 100%;
}
body {
	color: $normal-font-color;
	background-color: $background-color;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 16px;
	line-height: 1.5;
}

a, a:visited {
	color: $green-font-color;
}

h3 {
	font-size: 18px;
	font-weight: normal;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color: $green-font-color;
	letter-spacing: -0.03em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
}

.model-row {
	display: flex;

	justify-content: center;
}
.model-row--left-column {
	flex-basis: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.model-row--right-column {
	flex-basis: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.pin-row {
	display: flex;
	align-items: center;
	justify-content: right;
	> div {
		display: inline-block;
	}
	&:not(:first-child) {
		margin-top: 20px;
	}
}

.model-row--middle-column {
	display: flex;
}
.attiny {
	width: 130px;
	background-color: #222222;
	padding: 20px;
	.pin1marker {
		width: 20px;
		height: 20px;
		background-color: white;
		border-radius: 50%;

	}
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
